<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/webjars/vue/2.5.17/dist/vue.min.js"></script>
    <script src="/webjars/vue-resource/1.5.1/dist/vue-resource.js"></script>
    <script src="/webjars/element-ui/2.4.8/lib/index.js"></script>

    <title>Code-X-让程序员喝茶</title>

    <link rel="stylesheet" href="/webjars/element-ui/2.4.8/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/codex-core.css"/>

</head>
<body>
<div id="codex"><br/>
    <el-row>
        <el-col :span="14">
            <div class="grid-content bg-purple" style="padding: 0 10px;">
                <template>
                    <el-table border
                              :data="tableList"
                              style="width: 100%">
                        <el-table-column
                                prop="tableName"
                                label="表名">
                        </el-table-column>
                        <el-table-column
                                prop="tableComment"
                                label="注释">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="100">

                            <template slot-scope="scope">
                                <el-button type="primary"
                                           size="mini"
                                           @click="code(scope.row)">生成代码
                                </el-button>
                            </template>

                        </el-table-column>
                    </el-table>
                </template>
            </div>
        </el-col>
        <el-col :span="10" v-if="package">
            <div class="grid-content bg-purple-light" style="padding: 0 10px;">
                <el-card class="box-card" shadow="never">
                    <div slot="header" class="clearfix">
                        <span style="color: #909399">包信息</span>
                    </div>
                    <div>
                        <div style="margin-top: 15px;">
                            <el-input readonly :value="package.entityPath">
                                <template slot="prepend" style="width: 100px;">
                                    <div style="width: 70px;">
                                        entity
                                    </div>
                                </template>
                            </el-input>
                        </div>
                        <div style="margin-top: 15px;">
                            <el-input readonly :value="package.servicePath">
                                <template slot="prepend">
                                    <div style="width: 70px;">
                                        service
                                    </div>
                                </template>
                            </el-input>
                        </div>
                        <div style="margin-top: 15px;">
                            <el-input readonly :value="package.serviceImplPath">
                                <template slot="prepend">
                                    <div style="width: 70px;">
                                        serviceImpl
                                    </div>
                                </template>
                            </el-input>
                        </div>
                        <div style="margin-top: 15px;">
                            <el-input readonly :value="package.mapperPath">
                                <template slot="prepend">
                                    <div style="width: 70px;">
                                        mapper
                                    </div>
                                </template>
                            </el-input>
                        </div>
                        <div style="margin-top: 15px;">
                            <el-input readonly :value="package.mapperXMLPath">
                                <template slot="prepend">
                                    <div style="width: 70px;">
                                        mapperXML
                                    </div>
                                </template>
                            </el-input>
                        </div>
                        <div style="margin-top: 15px;">
                            <el-input readonly :value="package.controllerPath">
                                <template slot="prepend" style="width: 100px;">
                                    <div style="width: 70px;">
                                        controller
                                    </div>
                                </template>
                            </el-input>
                        </div>
                    </div>
                </el-card>
            </div>

        </el-col>
    </el-row>

    <!--是否生成controller弹窗-->
    <el-dialog title="准备生成CRUD" :visible.sync="crudDialog" width="900">

        <div class="dialog-body">
            <el-form :model="ruleForm" ref="ruleForm" :rules="rules" label-width="200px" size="medium" border>
                <el-form-item label="您选择的表名：">
                    <span style="font-size: 16px" v-if="row">{{row.tableName}}</span>
                </el-form-item>
                <el-form-item label="您选择的表注释：">
                    <span style="font-size: 16px" v-if="row">{{row.tableComment}}</span>
                </el-form-item>
                <el-form-item v-if="!!prefixList && prefixList.length > 0" label="请选择忽略的前缀" required prop="tablePrefix">
                    <el-radio-group v-model="ruleForm.tablePrefix" size="medium" prpo="tablePrefix">
                        <el-radio v-for="prefix in prefixList" :label="prefix" border>{{prefix}}</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="请选择是否生成Controller:" required prop="controller">
                    <el-radio-group v-model="ruleForm.controller" size="medium" prpo="controller">
                        <el-radio label="1" border>是</el-radio>
                        <el-radio label="2" border>否</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item v-if="ruleForm.controller === '1'" label="请选择Controller的类型:" required
                              prop="controllertype">
                    <el-checkbox-group style="padding-top: 8px;" v-model="ruleForm.controllertype" size="medium"
                                       prpo="controllertype">

                        <el-checkbox v-for="(name, key) in interfaces" :label="key">{{name}}</el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
            </el-form>
        </div>

        <span slot="footer" class="dialog-footer">
            <el-button @click="crudDialog = false">取 消</el-button>
            <el-button v-if="ruleForm.controller === '2'" type="primary"
                       @click="crudDialogCode('ruleForm')">确 定</el-button>
            <el-button
                    v-if="ruleForm.controller === '1' && !!ruleForm.controllertype && ruleForm.controllertype.length > 0"
                    type="primary" @click="crudOperationCode('ruleForm')">确 定</el-button>
          </span>

    </el-dialog>


    <!--增删改查选择进度条弹窗-->

    <el-dialog title="接口预览" :visible.sync="crudOperation" width="900">

        <div  class="dialog-body">
            <el-steps :active="step" align-center finish-status="success">
                <el-step :title="type.name+'接口'" v-for="type in modules"></el-step>
            </el-steps>
            <el-form :model="operationForm" ref="operationForm" :rules="rules" label-width="200px" size="medium">
                <div style="padding-top: 30px" v-for="(obj, key,index) in modules" v-show="step == index">
                    <template>
                        <el-table :data="obj.tableData" style="width: 100%">
                            <el-table-column prop="attrType" label="类型" width="120"></el-table-column>
                            <el-table-column prop="attrname" align-center  label="字段名称" width="200"></el-table-column>
                            <el-table-column prop="comments" label="注释" width="249"></el-table-column>
                            <el-table-column label="注解">
                                <template slot-scope="scope">
                                    <el-select placeholder="不显示" v-model="scope.row.annotation">
                                        <el-option
                                                v-for="item in getOptions(scope.row)"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </div>
            </el-form>

        </div>

        <div slot="footer">

            <el-button v-if="step>0" @click="previousStep" style="margin-top: 12px;" type="primary">上一步</el-button>
            <el-button v-if="ruleForm.controllertype.length - 1 > step" @click="nextStep" style="margin-top: 12px;"
                       type="primary">下一步
            </el-button>
            <el-button v-if="!(ruleForm.controllertype.length - 1 > step)" style="margin-top: 12px;"
                       @click="apply() ;crudOperation = false;crudDialog = false; step = 0 "
                       type="primary">提&nbsp;&nbsp;&nbsp;&nbsp;交
            </el-button>
            <el-button @click="crudOperation = false;step = 0 " type="primary">取 消</el-button>
        </div>
    </el-dialog>

</div>
</body>
</html>


<script src="js/codex-core.js"></script>
