<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/webjars/vue/2.5.17/dist/vue.min.js"></script>
    <script src="/webjars/vue-resource/1.5.1/dist/vue-resource.js"></script>
    <script src="/webjars/element-ui/2.4.8/lib/index.js"></script>

    <title>Code-X-让程序员喝茶</title>

    <link rel="stylesheet" href="/webjars/element-ui/2.4.8/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/commmon.css"/>

</head>
<body>
<div id="codex"><br/>
    <el-row>
        <el-col :span="14">
            <div class="grid-content bg-purple" style="padding: 0 10px;">
                <template>
                    <el-table border
                              :data="tableList"
                              style="width: 100%">
                        <el-table-column
                                prop="tableName"
                                label="表名">
                        </el-table-column>
                        <el-table-column
                                prop="tableComment"
                                label="注释">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="100">

                            <template slot-scope="scope">
                                <el-button type="primary"
                                           size="mini"
                                           @click="code(scope.row)">生成代码
                                </el-button>
                            </template>

                        </el-table-column>
                    </el-table>
                </template>
            </div>
        </el-col>
        <el-col :span="10" v-if="package">
            <div class="grid-content bg-purple-light" style="padding: 0 10px;">
                <el-card class="box-card" shadow="never">
                    <div slot="header" class="clearfix">
                        <span style="color: #909399">包信息</span>
                    </div>
                    <div>
                        <div style="margin-top: 15px;">
                            <el-input readonly :value="package.entityPath">
                                <template slot="prepend" style="width: 100px;">
                                    <div style="width: 70px;">
                                        entity
                                    </div>
                                </template>
                            </el-input>
                        </div>
                        <div style="margin-top: 15px;">
                            <el-input readonly :value="package.servicePath">
                                <template slot="prepend">
                                    <div style="width: 70px;">
                                        service
                                    </div>
                                </template>
                            </el-input>
                        </div>
                        <div style="margin-top: 15px;">
                            <el-input readonly :value="package.serviceImplPath">
                                <template slot="prepend">
                                    <div style="width: 70px;">
                                        serviceImpl
                                    </div>
                                </template>
                            </el-input>
                        </div>
                        <div style="margin-top: 15px;">
                            <el-input readonly :value="package.mapperPath">
                                <template slot="prepend">
                                    <div style="width: 70px;">
                                        mapper
                                    </div>
                                </template>
                            </el-input>
                        </div>
                        <div style="margin-top: 15px;">
                            <el-input readonly :value="package.mapperXMLPath">
                                <template slot="prepend">
                                    <div style="width: 70px;">
                                        mapperXML
                                    </div>
                                </template>
                            </el-input>
                        </div>
                    </div>
                </el-card>
            </div>

        </el-col>
    </el-row>

    <!--是否生成controller弹窗-->
    <el-dialog title="准备生成CRUD" :visible.sync="crudDialog" width="700">

        <div>
            <el-form :model="ruleForm" ref="ruleForm" :rules="rules" label-width="200px" size="medium">
                <el-form-item label="您选择的表名：">
                    <span style="font-size: 16px" v-if="row">{{row.tableName}}</span>
                </el-form-item>
                <el-form-item label="您选择的表注释：">
                    <span style="font-size: 16px" v-if="row">{{row.tableComment}}</span>
                </el-form-item>
                <el-form-item v-if="!!prefixList && prefixList.length > 0" label="请选择忽略的前缀" required prop="tablePrefix">
                    <el-radio-group v-model="ruleForm.tablePrefix" size="medium" prpo="tablePrefix">
                        <el-radio v-for="prefix in prefixList" :label="prefix" border>{{prefix}}</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="请选择是否生成Controller" required prop="controller">
                    <el-radio-group v-model="ruleForm.controller" size="medium" prpo="controller">
                        <el-radio label="1" border>是</el-radio>
                        <el-radio label="2" border>否</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item v-if="ruleForm.controller === '1'" label="请选择Controller的类型" required
                              prop="controllertype">
                    <el-checkbox-group v-model="ruleForm.controllertype" size="medium" prpo="controllertype">
                        <el-checkbox label="1">增加</el-checkbox>
                        <el-checkbox label="2">删除</el-checkbox>
                        <el-checkbox label="3">修改</el-checkbox>
                        <el-checkbox label="4">详情</el-checkbox>
                        <el-checkbox label="5">列表</el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
            </el-form>
        </div>

        <span slot="footer" class="dialog-footer">
            <el-button @click="crudDialog = false">取 消</el-button>
            <el-button v-if="ruleForm.controller === '2'" type="primary"
                       @click="crudDialogCode('ruleForm')">确 定</el-button>
            <el-button
                    v-if="ruleForm.controller === '1'&& !!ruleForm.controllertype && ruleForm.controllertype.length > 0"
                    type="primary" @click="crudOperationCode('ruleForm')">确 定</el-button>
          </span>

    </el-dialog>


    <!--增删改查选择进度条弹窗-->

    <el-dialog title="选择操作" :visible.sync="crudOperation" width="700">

        <div>

            <el-steps :active="step" finish-status="success">
                <el-step v-for="type in ruleForm.controllertype ">
                    <!--<span v-if="type=='1'">增加</span>-->
                    <!--<span v-if="type=='2'">删除</span>-->
                    <!--<span v-if="type=='3'">修改</span>-->
                    <!--<span v-if="type=='4'">详情</span>-->
                    <!--<span v-if="type=='5'">列表</span>-->


                </el-step>

            </el-steps>

            <el-form :model="operationForm" ref="operationForm" :rules="rules" label-width="200px" size="medium">
                <!--增-->
                <div v-show="step==0">
                    <template>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column prop="name" label="字段名称" width="100"></el-table-column>
                            <el-table-column prop="type" label="类型" width="70"></el-table-column>
                            <el-table-column prop="outh" label="权限操作"></el-table-column>
                        </el-table>
                    </template>
                </div>
                <!--删-->
                <div v-show="step==1">
                    <template>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column prop="name" label="字段名称" width="100"></el-table-column>
                            <el-table-column prop="type" label="类型" width="70"></el-table-column>
                            <el-table-column prop="outh" label="权限操作"></el-table-column>
                        </el-table>
                    </template>
                </div>
                <!--改-->
                <div v-show="step==2">
                    <template>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column prop="name" label="字段名称" width="100"></el-table-column>
                            <el-table-column prop="type" label="类型" width="70"></el-table-column>
                            <el-table-column prop="outh" label="权限操作"></el-table-column>
                        </el-table>
                    </template>
                </div>
                <!--查-->
                <div v-show="step==3">
                    <template>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column prop="name" label="字段名称" width="100"></el-table-column>
                            <el-table-column prop="type" label="类型" width="70"></el-table-column>
                            <el-table-column prop="outh" label="权限操作"></el-table-column>
                        </el-table>
                    </template>
                </div>
                <!--列表-->
                <div v-show="step==4">
                    <template>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column prop="name" label="字段名称" width="100"></el-table-column>
                            <el-table-column prop="type" label="类型" width="70"></el-table-column>
                            <el-table-column prop="outh" label="权限操作"></el-table-column>
                        </el-table>
                    </template>
                </div>

            </el-form>

        </div>

        <div slot="footer">

            <el-button v-if="step>0" @click="previousStep" style="margin-top: 12px;" type="primary">上一步</el-button>
            <el-button @click="nextStep" style="margin-top: 12px;" type="primary">下一步</el-button>
            <el-button style="margin-top: 12px;" @click="submitAdd('operationForm')" type="primary">提交</el-button>
            <el-button @click="crudOperation = false" type="primary">取消</el-button>
        </div>
    </el-dialog>

</div>
</body>
</html>


<script src="js/codex-core.js"></script>
