<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/webjars/vue/2.5.17/dist/vue.min.js"></script>
    <script src="/webjars/vue-resource/1.5.1/dist/vue-resource.js"></script>
    <script src="/webjars/element-ui/2.4.8/lib/index.js"></script>

    <title>Code-X Thanos版 </title>

    <link rel="stylesheet" href="/webjars/element-ui/2.4.8/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/head.css"/>
    <link rel="stylesheet" href="css/foot.css"/>
    <link rel="stylesheet" href="css/api.css"/>

</head>
<body>
<div id="index">
    <div class="container">
        <div class="head_block head_block_grey">
        <span class="logo">
            <img src="images/logo.png">
        </span>
            <ul>
                <li><a href="index.html">关于我们</a></li>
                <li><a href="generate.html">代码生成</a></li>
                <li class="active">API-X</li>
                <li><a href="regular.html">正则工具</a></li>
                <li><a href="codejson.html">JSON校验工具</a></li>
            </ul>
        </div>
    </div>

    <hr class="hr_top"/>

    <div class="container container_body">
        <el-row>
            <el-col :span="6" class="boundary_left">
                <div class="preview_api">
                    <el-collapse v-model="activeName" accordion>
                        <el-collapse-item v-for="(item, index) in apis" :key="index" :title="item.name" name="1">
                            <ul>
                                <li v-for="(api, index) in item.apis" @click="checkoutApi(api)">{{ api.summary }}  <span>- {{api.path}} <span></span></li>
                            </ul>
                        </el-collapse-item>
                    </el-collapse>
                </div>
            </el-col>

            <el-col :span="16" class="boundary_right">
                <div v-if="activeApi">
                    <span class="title">{{ activeApi.summary }}</span>
                    <div v-for="(peration, index) in activeApi.operations" class="restful_box">
                        <div class="request">
                            <el-input v-model="protocol + '//' + host + peration.path"  readonly>
                                <template slot="prepend">{{ peration.method }}</template>
                            </el-input>
                            <el-button type="success" @click="$message('功能暂未实现，Please wait.')" >Copy</el-button>
                            <el-button type="primary" @click="$message('功能暂未实现，Please wait.')">请 求</el-button>
                        </div>

                        <div v-if="peration.params.length" class="request_param">
                            <span class="title">Request param</span>
                            <table>
                                <tr>
                                    <th width="150px">字段 <span>(field name)</span></th>
                                    <th>描述 <span>(describe)</span></th>
                                    <th width="200px">类型 <span>(fileld type)</span></th>
                                    <th width="150px">是否必填 <span>(required)</span></th>
                                </tr>

                                <tr v-for="(item, index) in peration.params">
                                    <td> {{ item.field }} </td>
                                    <td> {{ item.describe }} </td>
                                    <td>
                                        <el-tag size="mini" type="info">{{ item.type }}</el-tag>
                                    </td>
                                    <td>
                                        <el-tag v-if="item.required" size="mini" type="danger">必填</el-tag>
                                        <el-tag v-if="!item.required" size="mini" type="success">选填</el-tag>
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <div v-if="peration.paramsBody" class="request_body">
                            <span class="title">Request body</span>
                            <table v-if="peration.paramsBody.fields">
                                <tr>
                                    <th width="150px">字段 <span>(field name)</span></th>
                                    <th>描述 <span>(describe)</span></th>
                                    <th width="200px">类型 <span>(fileld type)</span></th>
                                    <th width="150px">是否必填 <span>(required)</span></th>
                                </tr>

                                <tr v-for="(item, index) in peration.paramsBody.fields">
                                    <td> {{ item.field }} </td>
                                    <td> {{ item.describe }} </td>
                                    <td>
                                        <el-tag size="mini" type="info">{{ item.type }}</el-tag>
                                    </td>
                                    <td>
                                        <el-tag v-if="item.required" size="mini" type="danger">必填</el-tag>
                                        <el-tag v-if="!item.required" size="mini" type="success">选填</el-tag>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </el-col>
        </el-row>
    </div>

    <div class="bottom_block">
        <div>欢迎关注Github：<a href="https://github.com/codex-league/codex"> https://github.com/codex-league/codex </a>
        </div>
        <div>使用帮助请移步至 <a href="https://github.com/codex-league/codex"> https://github.com/codex-league/codex </a></div>
        <div>使用请遵循Apache开源协议，开源产品非任何组织和个人独自拥有</div>
    </div>
</div>
</body>
</html>

<script>
    new Vue({
        el: '#index',
        data: {
            host: window.location.host,
            protocol: window.location.protocol,
            activeName: ['1'],
            apis: undefined,
            activeApi: undefined

        },
        methods: {
            checkoutApi(api){
                this.activeApi = api;
            }
        },
        created() {

            Vue.http.get('/codex/apix/doc').then(fulfilled => {
                this.apis = fulfilled.data.controller
                if(this.apis && this.apis.length > 0) {
                    this.activeApi = this.apis[0].apis[0]
                }
            }, rejected => {
                this.$message.error('获取API失败，请检查配置是否正确！');
            })
        }

    });
</script>


