<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/webjars/vue/2.5.17/dist/vue.min.js"></script>
    <script src="/webjars/vue-resource/1.5.1/dist/vue-resource.js"></script>
    <script src="/webjars/element-ui/2.4.8/lib/index.js"></script>

    <title>Code-X Thanos版 </title>

    <link rel="stylesheet" href="/webjars/element-ui/2.4.8/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/head.css"/>
    <link rel="stylesheet" href="css/foot.css"/>
    <link rel="stylesheet" href="css/regular.css"/>

</head>
<body>
<div id="index">
    <div class="container">
        <div class="head_block head_block_grey">
        <span class="logo">
            <img src="images/logo.png">
        </span>
            <ul>
                <li><a href="index.html">关于我们</a></li>
                <li><a href="generate.html">代码生成</a></li>
                <li><a href="api.html">API-X</a></li>
                <li class="active">正则工具</li>
                <li><a href="codejson.html">JSON校验工具</a></li>
            </ul>
        </div>
    </div>

    <hr class="hr_top"/>

    <div class="container container_body">
        <el-row>
            <el-col :span="12">
                <div class="grid-content bg-purple-light" style="padding: 0 10px;">
                    <el-card class="box-card" shadow="never">
                        <div style="margin-top: 15px">
                            <el-input v-model="expression" type="textarea" :rows="13" placeholder="请输入待校验文本"></el-input>
                        </div>
                        <div style="margin-top: 15px">
                            <el-input v-model="reg" placeholder="请输入正则表达式">
                                <el-button slot="append" @click="regular(reg,expression)">提交</el-button>
                            </el-input>
                        </div>
                    </el-card>
                </div>
            </el-col>

            <el-col :span="12">
                <div style="margin-top: 2px">
                    <el-card class="box-card" shadow="never">
                        <span>输出信息</span>
                        <el-input v-model="isMatching" type="textarea" :rows="15" disabled>
                        </el-input>
                    </el-card>
                </div>
            </el-col>
        </el-row>
    </div>

    <div class="bottom_block">
        <div>欢迎关注Github：<a href="https://github.com/codex-league/codex"> https://github.com/codex-league/codex </a>
        </div>
        <div>使用帮助请移步至 <a href="https://github.com/codex-league/codex"> https://github.com/codex-league/codex </a></div>
        <div>使用请遵循Apache开源协议，开源产品非任何组织和个人独自拥有</div>
    </div>
</div>
</body>
</html>

<script>
    new Vue({
            el: '#index',
            data: {
                isMatching: "",
                reg: "",
                expression: ""
            },
            methods: {
                regular: function (reg, expression) {
                    if(reg===""||reg===null||expression===""||expression===null){
                        return false;
                    }
                    var patt1=new RegExp(reg);
                    if(patt1.exec(expression)!==null){
                        this.isMatching=patt1.exec(expression);
                    }
                    else{
                        this.isMatching="无匹配";
                    }
                }
            }
        }
    );
</script>


