package ${controllerPackagePath};

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.fasterxml.jackson.core.type.TypeReference;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
import pub.codex.apix.annotations.Api;
import pub.codex.apix.annotations.ApiOperation;
import pub.codex.apix.annotations.ApiParam;
import pub.codex.apix.annotations.constant.Describe;
import pub.codex.apix.annotations.group.VG;
import pub.codex.common.result.R;
import pub.codex.common.result.RBuilder;
import pub.codex.common.result.RData;
import pub.codex.core.template.utils.WhereUtils;
import ${entityPackagePath}.${className}Entity;
import ${servicePackagePath}.${className}Service;

import java.util.List;

/**
 * ${comments}
 *
 * @date ${datetime}
 */
@Api("${comments}")
@RestController
public class ${className}Controller {

#if(${interfaceType})
    @Autowired
    private ${className}Service ${classname}Service;
#end
#foreach (${type} in ${interfaceType})

#if(${type}=="add")
    /**
    * 新增接口
    * @param ${classname}Entity
    * @return
    */
    @ApiOperation("新增接口")
    @PostMapping("/${classname}")
    public R add(@RequestBody @Validated(VG.Add.class)${className}Entity ${classname}Entity) {
        ${classname}Service.save(${classname}Entity);
        return RBuilder.ok();
    }
#end
#if(${type}=="del")

    /**
     * 删除接口
     * @param id 根据ID删除
     * @return
     */
    @ApiOperation("删除接口")
    @DeleteMapping("/${classname}/{id}")
    public R delete(@ApiParam(Describe.ID) @PathVariable("id") String id) {
        ${classname}Service.removeById(id);
        return RBuilder.ok();
    }
#end
#if(${type}=="update")

    /**
     * 更新接口
     * @param ${classname}Entity
     * @return
     */
    @ApiOperation("更新接口")
    @PutMapping("/${classname}")
    public R update(@RequestBody @Validated(VG.Update.class)${className}Entity ${classname}Entity) {
        ${classname}Service.updateById(${classname}Entity);
        return RBuilder.ok();
    }
#end
#if(${type}=="detail")

    /**
     * 详情接口
     * @param id 根据ID查询
     * @return
     */
    @ApiOperation("详情接口")
    @GetMapping("/${classname}/{id}")
    public RData<${className}Entity> detail(@ApiParam(Describe.ID) @PathVariable("id") String id) {
        return RBuilder.build(${classname}Service.getById(id));
    }
#end
#if(${type}=="list")

    /**
     * 列表接口
     * @param  where JSON条件
     *         keyword 关键字
     * @return
     */
    @ApiOperation("列表接口")
    @GetMapping("/${classname}")
    public RData<List<${className}Entity>> list(@ApiParam(Describe.WHERE) @RequestParam(required = false) String where,
                  @ApiParam(Describe.KEYWORD) @RequestParam(required = false) String keyword) {

        QueryWrapper<${className}Entity> query = new QueryWrapper<>();

        WhereUtils.setWhereAndKeyword(query, where, keyword);

        return RBuilder.build(${classname}Service.list(query));
    }

    /**
     * 分页接口
     * @param  where 条件JSON对象：字段并集查询
     *         keyword 关键字JSON对象： 字段或集查询
     *         pageIndex 当前页
     *         pageSize 页数
     * @return
     */
    @ApiOperation("分页接口")
    @GetMapping("/${classname}/page")
    public RPage<${className}Entity> page(@ApiParam(Describe.WHERE) @RequestParam(required = false) String where,
                                                @ApiParam(Describe.KEYWORD) @RequestParam(required = false) String keyword,
                                                @ApiParam(Describe.PAGE_NUM) @RequestParam(defaultValue = "0") Long pageNum,
                                                @ApiParam(Describe.PAGE_SIZE) @RequestParam(defaultValue = "10") Long pageSize) {

        QueryWrapper<${className}Entity> query = new QueryWrapper<>();

        WhereUtils.setWhereAndKeyword(query, where, keyword);

        Page<${className}> page = ${classname}Service.page(new Page<>(pageNum, pageSize), query);

        return RBuilder.build(page.getRecords(), page.getCurrent(), page.getSize(), page.getTotal());
    }
#end
#end

}


