package ${entityPackagePath};

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
import pub.codex.apix.annotations.*;
import pub.codex.apix.annotations.group.VG;
import javax.validation.constraints.*;
import java.io.Serializable;


#foreach ($column in $columns)
	#if($column.attrType == 'Date')
import java.util.Date;
		#break;
	#end
#end
#foreach ($column in $columns)
	#if($column.attrType == 'BigDecimal')
import java.math.BigDecimal;
		#break;
	#end
#end




/**
 * ${comments}
 * 
 * @date ${datetime}
 */
@TableName("${tableName}")
public class ${className}Entity implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	#if($column.comments)
	/**
	 * ${column.comments}
	 */
	#end
	#if($column.columnName == $pk.columnName)
	@TableId
	@JsonSerialize(using=ToStringSerializer.class)
	#end
	#if(${column.annotationList})
	#foreach ($annotation in $column.annotationList)
	${annotation}
	#end
	#end
	private $column.attrType $column.attrname;
#end
#foreach ($column in $columns)

	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}

	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end
}
