package ${mapperPackagePath};

import ${entityPackagePath}.${className}Entity;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * ${comments}
 * 
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}Entity> {
	
}
