package ${servicePackagePath};

import com.baomidou.mybatisplus.extension.service.IService;
import ${entityPackagePath}.${className}Entity;


/**
 * ${comments}
 *
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

}

