package ${servicePackagePath}.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;

import ${mapperPackagePath}.${className}Mapper;
import ${entityPackagePath}.${className}Entity;
import ${servicePackagePath}.${className}Service;


@Service("${classname}Service")
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}Entity> implements ${className}Service {


}
