
.boundary_left {
    border-right: #EEE 2px solid;
    min-height: 100%;
}

.boundary_left > div {
    margin: 20px 0 0;
}

.preview_api .el-collapse {
    border-top: none;
}
.preview_api .el-collapse .el-collapse-item__header{
    color: #8A8E93;
}

.preview_api ul li {
    height: 38px;
    line-height: 35px;
    font-size: 13px;
    font-weight: 500;
    color:#68717F;
    cursor:pointer;
    padding-left: 5px;
}

.preview_api ul li:hover {
    background-color: #F3F3F3;
    border-right: #4BAAF7 2px solid;
}


.preview_api ul li span {
    color: #CFCFCF;
}

.boundary_right {

}

.boundary_right > div {
    margin: 20px 0 0 10px;
    width: 100%;
}

.boundary_right > div > .title {
    font-size: 16px;
    font-weight: 500;
    color: #68717F;
    padding: 0 0 10px 0;
    display: block;
    /*border-bottom: #efefef 1px solid;*/
}


.restful_box {
    margin: 0 0 40px 0;
    border-bottom: 1px #efefef solid;
    width: 100%;
    padding: 0 0 40px 0;
}

.request {
    display: flex;
    align-items: center;
}

.request > div {
    padding: 5px;
}

.request_body > .title,
.request_param > .title{
    font-size: 16px;
    font-weight: 500;
    color: #8A8E93;
    margin: 10px 0;
    display: block;
}

.request_body table,
.request_param table{
    width: 100%;
}

.request_body table th,
.request_body table td,
.request_param table th,
.request_param table td {
    height: 45px;
    padding-left: 30px;
}

.request_body table tr,
.request_param table tr{
    border-bottom: 1px solid #DFDFDF;
}

.request_body table tr:hover,
.request_param table tr:hover{
    background-color: #F3F3F3;
}

.request_body table tr th,
.request_param table tr th{
    background-color: #F5F7F9;
    font-size: 14px;
    font-weight: 500;
    color: #68717F;
}

.request_body table tr th > span,
.request_param table tr th> span {
    color: #cfcfcf;
    font-size: 12px;
}

.request_body table tr td,
.request_param table tr td{
    font-size: 14px;
    color: #68717F;
}

