
.boundary_left {
    border-right: #EEE 2px solid;
    min-height: 100%;
}

.boundary_left > div {
    margin: 20px 0 0;
}

.boundary_left > .table table {
    width: 100%;
}


.boundary_left > .table table tr th {
    padding-left: 10px;
    background-color: #EAF6FE;
    border-right: #EAF6FE 2px solid;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(138, 142, 147, 1);
}

.boundary_left > .table table tr td {
    padding-left: 10px;
    height: 35px;
    font-size: 14px;
    color: rgba(138, 142, 147, 1);
}

.boundary_left > .table table tr:nth-of-type(odd) {
    background-color: #fafafa;
    border-right: #fafafa 2px solid;
}

.boundary_left > .table table tr:not(:first-child):hover {
    background-color: #F3F3F3;
    border-right: #4BAAF7 2px solid;
}


.boundary_right {

}

.boundary_right > div {
    margin: 20px 0 0 10px;
    width: 100%;
}

.boundary_right > div > .title {
    font-size: 16px;
    font-weight: 500;
    color: #68717F;
    padding: 0 0 10px 0;
    display: block;
    /*border-bottom: #efefef 1px solid;*/
}

.crud_option {
}

.preview_option {
}

.preview_table {
    width: 100%;
}

.preview_table,
.preview_table tr th,
.preview_table tr td {
    border: #efefef 1px solid;
    height: 35px;
    padding-left: 5px;
}

.preview_table tr th {
    background-color: #DFDFDF;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(138, 142, 147, 1);
}

.preview_table th td {
    height: 32px;
}

.preview_table tr:not(:first-child):hover {
    background-color: #F3F3F3;
}

.generate_button {
    display: flex;
    justify-content: center;
    align-items: center;
}
