.head_block {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.head_block > .logo > img{
    height: 60px;
}

.head_block > ul > li {
    margin-left: 20px;
}

.head_block_white > ul > li ,
.head_block_white > ul > li > a{
    background: #FFFFFF; !important;
}

.head_block_grey > ul > li ,
.head_block_grey > ul > li > a{
    background: #68717F;
}

.head_block > ul > li ,
.head_block > ul > li > a{
    font-family: PingFang SC;
    font-weight: 600;
    line-height: 60px;
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    float: left;
    font-size: 13px;
    cursor:pointer
}

.head_block > ul > li:hover,
.head_block > ul > li > a:hover {
    color: transparent;
    background: linear-gradient(to right, #41EBC1, #4DA1FF);
    -webkit-background-clip: text;
}
