
body {
    background-color: #16296A;
}



.head_block, .copywriting_block {
    display: flex;
    justify-content: space-between;
}

.head_block > .logo > img{
    height: 65px;
}

.head_block > ul > li {
    font-family: PingFang SC;
    font-weight: 600;
    line-height: 65px;
    background: white;
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    float: left;
    font-size: 13px;
    margin-left: 20px;
    cursor:pointer
}

.head_block > ul > li:hover {
    background: linear-gradient(to right, #41EBC1, #4DA1FF);
    -webkit-background-clip: text;
}

.copywriting_block {
    margin-top: 100px;
}


.copywriting {
    color: white;
    padding-top: 50px;
}

.copywriting > h1 {
    height: 50px;
    line-height: 50px;
    font-size: 28px;
}

.copywriting > h2 {
    height: 50px;
    line-height: 50px;
    font-size: 21px;
}

.copywriting > h4 {
    font-size: 14px;
}

.copywriting > h5 {
    font-size: 10px;
}

.copywriting > a {
    width: 175px;
    height: 49px;
    background: linear-gradient(90deg,rgba(65,235,193,1),rgba(77,161,255,1));
    border-radius: 4px;
    border: 0;
    font-size: 21px;
    font-weight: 500;
    margin-top: 50px;
    display: block;
    text-align: center;
    line-height: 49px;
    color: white;
    cursor:pointer
}

.copywriting_block > span > img {
    height: 324px;
}




.star_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    color:rgba(246,246,246,1);
    margin-top: 120px;
}

.star_block > .title {
    font-size:21px;
    font-family:SourceHanSansCN;
    font-weight:400;
    color:rgba(255,255,255,1);
}

.star_block > .star {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.star_block > .star > span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size:18px;
    font-family:SourceHanSansCN;
    font-weight:500;
}

.star_block > .star > span > img {
    width: 166px;
    height: 166px;
}

.bottom_block {
    background-color: #031759;
    display: flex;
    justify-content: space-around;
}

.bottom_block > div {
    color: white;
    font-size: 9px;
    height: 38px;
    line-height: 38px;
    opacity: 0.8;
}
.bottom_block > div > a {
    color: white;
    font-size: 9px;
}


